body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.5vw;
}
#wrapper{
	width:100%;
	margin:0 auto;
}
header{
	position:fixed;
	z-index:9999;
	top:0;
	left:0;
	width:100%;
	background: #1428A0;
}
.first_header{
	cursor:pointer;
	width:800px;
	max-width:800px;
}
.second_header{}
.menu_button{
	width:110px;
	height:50px;
	font-size:15px;
	background:transparent;
	font-weight:700;
	text-indent: 0px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	color: #ffffff;
	border-color: transparent;
	cursor: pointer;
	transition: color 0.7s, width 0.7s;
	padding:1px;
}
.menu_button:hover{
	color: #8093FF;
	width: 250px;
}
.menu_button2{
	width:110px;
	height:50px;
	font-size:15px;
	background:transparent;
	font-weight:700;
	text-indent: 0px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	color: #ffffff;
	border-color: transparent;
	cursor: pointer;
	transition: color 0.7s;
	padding:1%;
}
.menu_button2:hover{
	color: #8093FF;
}
.menu_button3{
	width:110px;
	height:50px;
	font-size:15px;
	background:transparent;
	font-weight:700;
	text-indent: 0px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	color: #ffffff;
	border-color: transparent;
	cursor: pointer;
	transition: color 0.7s;
	padding:1%;
}
.menu_button3:hover{
	color: #8093FF;
}
article{
	text-align:center;
	width:100%;
}
.slideimg{
	width:100%;
}
.page_name{
	font-weight:700;
	text-align:left;
	font-size:30px;
	color:#1428A0;
}
.page_name2{
	font-weight:700;
	text-align:left;
	font-size:17px;
	color:#8093FF;
}
.line{
	border-bottom:2px double #5168ea;
}
.buttonbutton {
	background-color: #1428A0;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	width: 60px;
	height: 23px;
	font-size:13px;
}
.buttonbutton:hover {
	background-color: #8093FF;
}
.tbstyle {
	margin-top: 30px;
	border-collapse: collapse;
	border-top: 1px solid #eeeeee;
	font-size:1.3vw;
	width:100%;
	table-layout:fixed;
}
.tbstyle th, .tbstyle td {
	padding: 10px;
	width: 10%;
}
.tbstyle th {
	border-bottom: 1px solid #eeeeee;
	white-space:nowrap;
	height:20px;
}
.tbstyle td {
	border-bottom: 1px solid #eeeeee;
}
.tbstyle th:first-child, .tbstyle td:first-child {
	border-left: 0;
}
.tbstyle th:last-child, .tbstyle td:last-child {
	border-right: 0;
}
a.toptop {
	position: fixed;
	right: 1%;
	bottom: 1%;
	display: none;
}
#beforetable{
	padding-top:260px;
	font-size:13px;
	position:fixed;
	background-color:white;
	top:5px;
	white-space:nowrap;
	z-index:9998;
}
#flex-area{
	padding-top:140px;
}
#flex-area2{
	padding-top:175px;
}
.insert_elements {
	float:center;
	display: block;
	margin-bottom: 20px;
	width:70%;
}
.insert_description {
	text-align:left;
	float:left;
	margin-left:20%;
	margin-top: 20px;
	width:15%;
	font-size:15px;
	height:25px;
}
.insert_description2 {
	float:right;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #666666;
	width:65%;
	height:25px;
}
.insert_input {
	width: 100%;
	height: 15px;
	padding: 10px;
	border: 2px solid #cccccc;
	right:0;
}
.insert_button {
	width: 120px;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
	background-color:#1428A0;
	border:none;
	color:white;
	cursor:pointer;
}
.insert_button:hover{
	background-color:#8093FF;
}
#loading{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:fixed;
	display:block;
	opacity:0.9;
	background-color:#fff;
	z-index:10000;
	text-align:center;
}
#loading-image{
	width:5%;
	max-width:30px;
	position:absolute;
	top:30%;
	left:50%;
	z-index:10001;
}

.transparent2 {
	background-color: white;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	width: 5%;
	height: 5%;
}
.transparent2:hover {
	font-weight: 700;
}
div label input {
   margin-right:100px;
}

input[type=radio]{
	display:none;
}
#ck-button {
    background-color:white;
    border:none;
    overflow:auto;
    text-align:center;
	display: inline-block;
}
#ck-button label {
	font-size:1.2vw;
	cursor:pointer;
    float:left;
    width:4.0em;
}
#ck-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}
#ck-button label input {
    position:absolute;
    top:-20px;
}
#ck-button input:checked + span {
    font-weight:900;
}
.max-small {
	height: auto;
	width: 100%;
}
.buttonbutton2 {
	background-color: #1428A0;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size:1.2vw;
}
.buttonbutton2:hover {
	background-color: #8093FF;
}